* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.piano {
    display: flex;
}

.key {
    height: calc(var(--width) * 5);
    width: var(--width);
    cursor: pointer;
}

.white {
    --width: 80px;
    background-color: #2b2b2b;
    box-shadow: 4px 4px 6px #181818,
                -4px -4px 6px #383838;
    ;
    border-radius: 10px;
    margin-right: 8px;
    margin-left: 8px;
}

.black {
    --width: 46px;
    background-color: #0f0f0f;
    margin-right: calc(var(--width) / -2);
    margin-left: calc(var(--width) / -2);
    /* box-shadow: 6px 6px 4px #0e0e0e,
                -6px -6px 4px #353535;
    ; */
    border-radius: 10px;
    margin-top: 10px;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.white-line {
    height: 80%;
    width: 8px;
    background-color: #5f5f5f;
    /* box-shadow: 2px 2px 4px #3d3d3d,
                -2px -2px 4px #444444; */
    border-radius: 10px;
    margin-top: 10px;
}

.white.active {
    box-shadow: inset 4px 4px 6px #181818,
                inset -4px -4px 6px #383838;
    ;
}

.black.active{
    box-shadow: inset 2px 2px 4px #0e0e0e,
                inset -2px -2px 4px #353535;
    ;
}

iframe {
    display: none;
}